body {
    width:auto;
    margin: 0px;
    background-color: black;
    overflow-y: hidden !important;
    overflow-x: hidden;
}


/* Position the image container (needed to position the left and right arrows) */

.container {
    position: relative;
}

.imgcontainer {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hide the images by default */

.mySlides {
    display:none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.bigpic {
    width: 65vw;
    height: auto;
}

.thumbnail {
    width: 9vw;
    max-height: 9vh;
    cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: lightgray;
    font-weight: bold;
    font-size: 2.3em;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.3s;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    color: white;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.container .fa-xmark{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 3em;
    color: lightgray;
    transition: 0.3s;
}

.container .fa-xmark:hover {
    color: white;
}

/* Container for image text */

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */

.column {
    text-align: center;
    width: 10vw;
}

/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.5;
    border-radius: 4px;
}

.demo:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    border: 2px solid lightgray;
}