/*Basic styling*/

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
}

.navbar {
    background-color: white !important;
    padding-top: 0px !important;
}

.container-lg {
    justify-content: flex-start !important;
    margin-left: 0px !important;
    padding: 0px !important;
}

.navbar-brand {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

a {
    font-weight: bold;
}

#green {
    color: rgb(140, 198, 62) !important;
}

#green:hover {
    color: rgb(110, 163, 41) !important;
}

#orange {
    color: rgb(252, 141, 5) !important;
}

#orange:hover {
    color: rgb(222, 110, 0) !important;
}

#red {
    color: rgb(250, 72, 93);
}

#red:hover {
    color: rgb(230, 42, 85);
}

#right {
    color: rgb(90, 132, 247);
    position: absolute;
    right: unset;
}

#right:hover {
    color: rgb(41, 86, 209);
}

.weather-widget {
    position: absolute;
    right: 5px;
}

.weather-widget i {
    color: grey;
}

#icon {
    position: absolute;
    right: 0px;
    visibility: hidden !important;
    color: rgb(90, 132, 247);
    visibility: inherit;
}

#icon:hover {
    color: rgb(41, 86, 209);
}

.logo {
    max-width: fit-content;
    height: auto;
    margin-right: 3rem;
}

#logo {
    max-width: 225px;
    min-height: 80px;
    padding-left: 0.3rem;
}

.dropdown {
    display: none;
    animation: growDown 300ms ease-in-out forwards;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}
.green {
    background-color: rgb(140, 198, 62);
}

.orange {
    background-color: rgb(252, 141, 5);
}

.red {
    background-color: rgb(250, 72, 93);
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: 2px;
}

h1 {
    padding-top: 1rem;
}

h1 {
    color: rgba(245, 245, 245, 0.99);
    text-align: center;
    margin-bottom: 1rem !important;
}

p {
    padding-bottom: 1rem;
    color: rgba(245, 245, 245, 0.99);
    text-align: center;
    margin: 0% 20% 0% 20% !important;
}


/*Basic styling end*/


/*Repsonsive*/

@media screen and (max-width: 650px) {
    html {
        overflow-x: hidden;
    }
    #logo {
        max-width: 112.5px;
        min-height: 40px;
    }
    .container-lg {
        justify-content: flex-start !important;
        flex-wrap: unset !important;
    }
    .navbar-brand {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    nav #green,
    nav #orange,
    nav #red,
    nav #right {
        display: none !important;
    }
    #weather-variable {
        display: none;
    }
    #weather-variable-2 {
        padding-top: 6px;
    }
    #icon {
        position: absolute;
        right: 10px;
        visibility: visible !important;
    }
    #icon:hover {
        cursor: pointer;
    }
    .dropdown {
        background-color: rgb(251, 251, 251);
    }
}


/*Responsive end*/